:root {
    --link-color:#4c72b0;
}

body { color: #444444 !important; }

h1 { font-size: 40px !important; }
h2 { font-size: 32px !important; }
h3 { font-size: 24px !important; }
h4 { font-size: 24px !important; }
h5 { font-size: 18px !important; }
h6 { font-size: 14px !important; }

footer {
    color: gray !important;
}

footer a{
    color: var(--link-color) !important;
}

.document a {
    color: var(--link-color) !important;
}

.section a {
    color: var(--link-color) !important;
}

.note {
    color: #111111 !important;
    background-color: aliceblue !important;
    border-radius: 4px !important;
}

.tip {
    color: #444444 !important;
    background-color: mintcream !important;
    border-radius: 4px !important;
}

.ingredients {
    color: #444444 !important;
    font-weight: bold;
    background-color: white !important;
    border-radius: 4px !important;
    border-color: gainsboro !important;
    border-style: solid !important;
    border-width: 0px 0px 0px 8px !important;
    padding: 0px !important;
    padding-left: 12px !important;
}

.ingredients > ul {
    font-style: italic !important;
    font-weight: normal;
}

.ingredients > .admonition-title {
    font-size: 18px !important;
    color: inherit !important;
    background-color: inherit !important;
}

.admonition-title::before {
    content: none !important;
}

.procedure {
    color: #444444 !important;
    background-color: white !important;
    border-width: 0px !important;
}

.procedure a {
    font-weight: inherit !important;
}
